html,
:root {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    line-height: 1.5; /* междустрочный интервал */
    font-weight: 400;
}

body {
    margin: 0;
    position: absolute;
}

#map {
    width: 50vw; /* 50% от ширины окна браузера */
    height: 80vh; /* 80% от высоты окна браузера */
    margin: 0; /* убрать отступы */
    position: absolute;
    top: 7vw; /* 7% от ширины окна брузера*/
    left: 45vw; /* 45% от ширины окна браузера */
    border: 1px solid black; /* рамочка */
}

.ol-popup { /* стилизация всплывающей надписи */
  position: absolute;
  background-color: rgb(247, 255, 255); /* заливка */
  padding: 8px 8px; /* отступы вокруг текста */
  border: 1px solid #000000; /* рамка */
  bottom: 8px;
  left: -45px;
  width: auto;
  height: auto;
  white-space: nowrap; /* предотвращает перенос длинных слов */
}

.popup-content {
    background-color: rgb(247, 255, 255);
}

.popup-title {
    font-weight: normal; /* убираем жирность */
    font-size: inherit; /* наследуем размер шрифта из :root */
}

#filter-form {
    position: relative;
    top: 1%; 
    position: fixed;
    left: 45%;
    z-index: 1000; /* важно, чтобы фильтры и выпадающие списки были поверх карты */
}

    #filter-form select {
        display: inline-block; /* размещаем элементы в строку */
        width: 200px;
    }

.modal-content {
    position: fixed;
    width: 43%;
    font-size: 1.15rem;
    max-height: 95vh; /* ограничение по высоте */
    background-color: rgb(247, 255, 255); /* заливка */
    padding: 8px; /* отступы вокруг текста */
    overflow-y: scroll; /* добавляем вертикальную полосу прокрутки, когда контент превышает высоту */
    border: 1px solid #181818; /* рамка */
    z-index: 1000; /* важно, чтобы расписание было поверх карты */
}

.modal-content h1 {
    text-align:center;
    font-size: inherit; /* наследуем размер шрифта из :root */
}

.modal-content p {
    text-align: center;
    font-size: inherit; /* наследуем размер шрифта из :root */
    color: dimgray;
}

.schedule-menu table {
    position: relative;
    width: 97%;
    table-layout: fixed; /* ширина таблиц должна быть одинаковая */
    border: 1px solid #181818; /* рамка */
    border-collapse: collapse; /* соседние ячейки таблицы соединены */
    white-space: normal; /* для переноса длинных слов */
    word-wrap: break-word;
    padding: 8px; /* отступы вокруг текста */
    text-align: left;
}

    .schedule-menu th {
        padding: 5px;
        border: 1px solid #181818; /* рамка */
        font-size: inherit; /* наследуем размер шрифта из :root */
        text-align: left;
    }

    .schedule-menu td {
        border: 1px solid #181818; /* рамка */
        padding: 8px; /* отступы вокруг текста */
    }

       .schedule-menu th:nth-child(1) { width: 4%; text-align: center; }
        .schedule-menu th:nth-child(2) { width: 23%; }
        .schedule-menu th:nth-child(3) { width: 12%; }
        .schedule-menu th:nth-child(4) { width: 25%; }
        .schedule-menu th:nth-child(5) { width: 40%; }
        .schedule-menu th:nth-child(6) { width: 10%; text-align: center; }
        .schedule-menu th:nth-child(7) { width: 10%; text-align: center;}