html,
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1;
    font-weight: 400;
}

body {
    margin: 0;
    position: absolute;
}

#map {
    width: 50vw; /* 50% от ширины окна браузера */
    height: 80vh; /* 80% от высоты окна браузера */
    margin: 0; /* убрать отступы */
    position: absolute;
    top: 5vw; /* 5% от ширины окна брузера*/
    left: 45vw; /* 35% от ширины окна браузера */
    border: 1px solid black; /* рамочка */
}

.ol-popup { /* стилизация всплывающей надписи */
  position: absolute;
  background-color: rgb(247, 255, 255); /* заливка */
  padding: 8px 8px; /* отступы вокруг текста */
  border: 1px solid #000000; /* рамка */
  bottom: 8px;
  left: -45px;
  width: auto;
  height: auto;
  white-space: nowrap; /* предотвращает перенос длинных слов */
}

.popup-content {
    background-color: rgb(247, 255, 255);
}

.popup-title {
    font-weight: normal; /* убираем жирность */
    font-size: inherit; /* наследуем размер шрифта из :root */
}

#filter-form {
    top: 2%; 
    overflow-x: auto; /* добавляем горизонтальную полосу прокрутки, если не помещаются */
    position: fixed;
    left: 45%;
    z-index: 1000; /* важно, чтобы фильтры и выпадающие списки были поверх карты */
}

#filter-form select {
    display: inline-block; /* Размещаем элементы в строку */
    width: 200px;
    /* Остальные стили */
}

.modal-content {
    position: fixed;
    width: 43%;
    max-height: 95vh; /* ограничение по высоте */
    line-height: 1.5; /* междустрочный интервал */
    background-color: rgb(247, 255, 255); /* заливка */
    padding: 8px; /* отступы вокруг текста */
    overflow-y: scroll; /* добавляем вертикальную полосу прокрутки, когда контент превышает высоту */
    border: 1px solid #000000; /* рамка */
    z-index: 1000; /* важно, чтобы расписание было поверх карты */
}

.modal-content h1 {
    text-align:center;
    font-size: inherit; /* наследуем размер шрифта из :root */
}

.modal-content p {
    text-align: center;
    font-size: inherit; /* наследуем размер шрифта из :root */
    color: dimgray;
}

.schedule-menu table {
    width: 95%;
    border: 1px solid #000000; /* рамка */
    border-collapse: collapse; /* соседние ячейки таблицы соединены */
    padding: 8px; /* отступы вокруг текста */
}

    .schedule-menu th {
        padding: 8px;
        border: 1px solid #000000; /* рамка ячеек */
        font-size: inherit; /* наследуем размер шрифта из :root */
        text-align: left;
    }

    .schedule-menu td {
        border: 1px solid #000000; /* рамка ячеек */
        font-size: inherit; /* наследуем размер шрифта из :root */
        text-align: left;
        padding: 8px; /* отступы вокруг текста */
    }

        .schedule-menu td:first-child { /* первая колонка таблицы */
        width: 80px;
        }

        .schedule-menu td:nth-child(2) { /* вторая колонка таблицы */
            width: 200px;
        }

        .schedule-menu td:nth-child(3) {
            width: 80px;
        }

        .schedule-menu td:nth-child(4) { 
            width: 200px;
        }

        .schedule-menu td:nth-child(5) {
            width: 100px;
        }

        .schedule-menu td:nth-child(6) {
            width: 80px;
            text-align: center;
        }

        .schedule-menu td:nth-child(7) {
            width: 80px;
            text-align: center;
        }