:root {
    color: #213547;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: normal; 
    background-color: #ffffff;
}

#map {
    width: 53%;
    height: 80%;
    margin: 0;
    position: absolute;
    top: 12%;
    left: 45%;
    border: 1px solid #213547;
}

.ol-popup { /* стилизация всплывающей надписи */
  position: absolute;
  background-color: rgb(247, 255, 255);
  padding: 8px;
  border: 1px solid #213547;
  bottom: 8px;
  left: -45px;
  width: auto;
  height: auto;
  white-space: nowrap; /* предотвращает перенос длинных слов */
}

#filter-form {
    position: fixed;
    top: 1%; 
    left: 45%;
    z-index: 10; /* важно, чтобы фильтры и выпадающие списки были поверх карты */
}

    #filter-form select {
        display: inline-block; /* размещаем элементы в строку */
        width: 18em;
        margin-bottom: 10px;
    }

.modal-content {
    position: fixed;
    width: 43%;
    max-height: 95vh;
    background-color: rgb(247, 255, 255);
    padding: 8px;
    overflow-y: scroll; /* добавляем вертикальную полосу прокрутки, когда контент превышает высоту */
    z-index: 10; /* важно, чтобы расписание было поверх карты */
}

.modal-content h1 {
    text-align: center;
    font-size: inherit; /* наследуем размер шрифта из :root */
    margin-top: 5%;
    margin-bottom: 2%;
}

.modal-content p {
    text-align: center;
    color: dimgray;
}

.modal-content table {
    position: relative;
    width: 97%;
    table-layout: fixed; /* ширина таблиц должна быть одинаковая */
    border: 1px solid #213547;
    border-collapse: collapse; /* соседние ячейки таблицы соединены */
    white-space: normal;
    word-wrap: break-word;
    padding: 8px; /* отступы вокруг текста */
    text-align: left;
}

    .modal-content th {
        padding: 5px;
        border: 1px solid #213547;
        text-align: left;
    }

    .modal-content td {
        border: 1px solid #181818;
        padding: 8px;
    }

    .modal-content th:nth-child(1) { width: 4%; text-align: center; }
    .modal-content th:nth-child(2) { width: 23%; }
    .modal-content th:nth-child(3) { width: 12%; }
    .modal-content th:nth-child(4) { width: 27%; }
    .modal-content th:nth-child(5) { width: 40%; }
    .modal-content th:nth-child(6) { width: 8%; text-align: center; }
    .modal-content th:nth-child(7) { width: 10%; text-align: center;}